%h1 Listing Calls

.search
= render 'shared/search'

.map
= render 'shared/map'

%table.calls
  %thead
    %tr
      %th Type
      %th Address
      %th Agency
      %th Last Updated
      %th Call ID #
      %th Latitude
      %th Longitude

  %tbody
    - @calls.each do |call|
      %tr
        %td= call.call_type
        %td= call.address
        %td= call.agency
        %td= call.updated_at.strftime("%B %d, %Y %I:%M %p %Z")
        %td= call.call_id
        %td= call.latitude
        %td= call.longitude

= will_paginate
